/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/lib/util/unicode/is-combining-character.js
test.js
!.eslintrc

node_modules/
jspm_packages/
dist/

notes/
quick.*
!quick.build.js
test.*.js

reports/

src/serviceWorker.js
